# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Java classes
*.class

sdk/CMakeFiles
sdk/Makefile
sdk/CMakeCache.txt
sdk/cmake_install.cmake
sdk/samples/CMakeCache.txt
sdk/samples/Makefile
sdk/samples/CMakeFiles
sdk/samples/cmake_install.cmake
sdk/mrover-lidar.jar
